/* font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.a {
  font-family: inherit;
}

.header {
  background: #e4b532;
  border-radius: 4px 4px 0 0;
  border-bottom: 3px solid rgb(232, 183, 105);
}

.container-header {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-item {
  list-style: none;
  margin-left: 40px;
}

.menu-link {
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease 0;
  text-emphasis: none;
}

.menu-link:hover {
  color: white;
  text-shadow: 0 0 5px white;
}

.promo {
  background: url(../image/photo_2022-10-21_19-24-43.png) no-repeat center /
    cover;
  height: calc(100vh - 63px);
}

.container-promo {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
}

.promo__title {
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 125px;
}
.promo__title span {
  display: block;
  font-size: 24px;
  line-height: 28px;
}

.block-promo-buttons {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.promo-button {
  padding: 8px 20px;
  background: linear-gradient(180deg, #fbcd00 0%, #e48c09 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
}

.promo-button:hover {
  background: linear-gradient(180deg, #d2990a 0%, #c86d05 100%);
}

.best {
  padding: 34px 0 165px 0;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
}

.best-title {
  text-align: center;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  font-weight: 400;
}

.best-title span {
  display: block;
  font-size: 36px;
}

.container {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
}

.best-info {
  display: flex;
  justify-content: space-between;
}

.best-cart-imge {
  height: 180px;
  margin-bottom: 15px;
  background: url(../image/SS1akc.png) no-repeat center / cover;
}

.best-cart-imgq {
  height: 180px;
  margin-bottom: 15px;
  background: url(../image/SS2akc.png) no-repeat center / cover;
}

.best-cart-imgw {
  height: 180px;
  margin-bottom: 15px;
  background: url(../image/SS3akc.png) no-repeat center / cover;
}

.best-cart-texte {
  color: #435766;
  margin-left: 15px;
  padding-top: 15px;
}

.best-cart-textq {
  color: #435766;
  margin-left: 15px;
  padding-top: 15px;
}

.best-cart-textw {
  color: #435766;
  margin-left: 15px;
  padding-top: 15px;
}

.best-cart {
  margin-top: 20px;
  flex: 0 0 320px;
  background: #fff;
}

.best-cart-titlee {
  margin-left: 15px;
  color: #435766;
  font-size: 14px;
}

.best-cart-titleq {
  margin-left: 15px;
  color: #435766;
  font-size: 14px;
}

.best-cart-titlew {
  margin-left: 15px;
  color: #435766;
  font-size: 14px;
}

.best-cart-texte span {
  display: block;
  padding-bottom: 25px;
}

.best-cart-textq span {
  display: block;
  padding-bottom: 25px;
}

.best-cart-textw span {
  display: block;
  padding-bottom: 25px;
}

.best-cart-buttonw {
  padding: 15px 85px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 60px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
}

.best-cart-buttonq {
  padding: 15px 85px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 60px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
}

.best-cart-buttone {
  padding: 15px 85px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 60px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
}

.best-cart-buttone:hover {
  background: linear-gradient(180deg, #f50707 0%, #de5606 100%);
}

.best-cart-buttonq:hover {
  background: linear-gradient(180deg, #f50707 0%, #de5606 100%);
}

.best-cart-buttonw:hover {
  background: linear-gradient(180deg, #f50707 0%, #de5606 100%);
}

.Exclusive {
  background: #e4b532;
}

.container-exclusive {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
}

.Exclusive-Title {
  text-align: center;
  font-size: 28px;
  line-height: 125px;
  color: #ffffff;
  font-weight: 400;
}

.Exclusivet-info {
  display: flex;
  justify-content: space-between;
}

.Exclusive-cart {
  margin-top: 30px;
  flex: 0 0 260px;
  background: #fff;
  margin-bottom: 10px;
}

.Exclusive-cart-imge {
  height: 180px;
  margin-bottom: 49.5px;
  background: url(../image/SS1dakc.png) no-repeat center / cover;
}

.Exclusive-cart-buttonse {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.Exclusive-cart-titlee {
  margin-left: 15px;
  color: #435766;
  font-size: 14px;
}

.Exclusive-cart-texte {
  color: #435766;
  margin-left: 15px;
  padding-top: 15px;
}

.Exclusive-cart-buttone {
  padding: 1px 84px;
  margin-top: 25px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.Exclusive-cart-buttone:hover {
  background: linear-gradient(180deg, #8dd83d 0%, #8dd83d 100%);
}

/*--------------------------------------------------------------------------------------------------------------------------*/

.Exclusive-cart-imgb {
  height: 180px;
  margin-bottom: 32px;
  background: url(../image/SS2dakc.png) no-repeat center / cover;
}

.Exclusive-cart-buttonsb {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.Exclusive-cart-titleb {
  margin-left: 15px;
  color: #435766;
  font-size: 14px;
}

.Exclusive-cart-buttonb {
  padding: 1px 84px;
  margin-top: 100px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.Exclusive-cart-buttonb:hover {
  background: linear-gradient(180deg, #8dd83d 0%, #8dd83d 100%);
}

/*--------------------------------------------------------------------------------------------------------------------------*/

.Exclusive-cart-imgf {
  height: 180px;
  margin-bottom: 54px;
  background: url(../image/SS3dakc.png) no-repeat center / cover;
}

.Exclusive-cart-buttonsf {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.Exclusive-cart-titlef {
  margin-left: 15px;
  color: #435766;
  font-size: 14px;
}

.Exclusive-cart-buttonf {
  padding: 1px 84px;
  margin-top: 78.5px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.Exclusive-cart-buttonf:hover {
  background: linear-gradient(180deg, #8dd83d 0%, #8dd83d 100%);
}

/*--------------------------------------------------------------------------------------------------------------------------*/

.Exclusive-cart-imgm {
  height: 180px;
  margin-bottom: 15px;
  background: url(../image/SS4dakc.png) no-repeat center / cover;
}

.Exclusive-cart-buttonsm {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.Exclusive-cart-titlem {
  margin-left: 15px;
  color: #435766;
  font-size: 14px;
}

.Exclusive-cart-buttonm {
  padding: 1px 84px;
  margin-top: 78.5px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.Exclusive-cart-buttonm:hover {
  background: linear-gradient(180deg, #8dd83d 0%, #8dd83d 100%);
}

/*--------------------------------------------------------------------------------------------------------------------------*/

.Exclusive-link-button {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.Exclusive-link {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 700px;
  padding: 8px 34px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
}

.Exclusive-link:hover {
  background: linear-gradient(180deg, #8dd83d 0%, #8dd83d 100%);
}

.menu-icon {
  display: none;
  flex: 0 0 30px;
  height: 18px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon span,
.menu-icon::before,
.menu-icon::after {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  z-index: 10;
  background: #ffffff;
  transition: all 0.5s ease 0s;
}

.menu-icon span {
  top: 50%;
  transform: translate(0, -50%);
}

.menu-icon::before,
.menu-icon::after {
  content: "";
}

.menu-icon::before {
  top: 0;
}

.menu-icon::after {
  bottom: 0;
}

.menu-icon.active span {
  transform: scale(0);
}

.menu-icon.active::before {
  top: 50%;
  transform: translate(0, 50%) rotate(-45deg);
}

.menu-icon.active::after {
  top: 50%;
  transform: translate(0, 50%) rotate(45deg);
}

@media (max-width: 750px) {
  .menu-icon {
    display: block;
  }
  .menu-body {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    transition: all 0.5s ease 0s;
  }
  .menu-body.active {
    top: 0;
  }
  .menu-list {
    display: block;
    padding-top: 70px;
  }

  .menu-item {
    text-align: center;
  }
}

.cnkr {
  color: red;
}

.cnkh {
  margin-left: 15px;
}

.cnkhl {
  margin-left: 28px;
}

.imng {
  width: 514px;
  margin-left: 250px;
  margin-bottom: 120px;
  border: 3px solid #d2990a;
}

.container-exclusivev {
  max-width: 1105px;
  margin: 0 auto;
  padding: 0 15px;
}

.Exclusive-Titlev {
  text-align: center;
  font-size: 28px;
  line-height: 125px;
  color: #ffffff;
  font-weight: 400;
}

.Exclusivet-infov {
  display: flex;
  justify-content: space-between;
}

.Exclusive-cartv {
  margin-top: 30px;
  flex: 0 0 260px;
  background: #fff;
  margin-bottom: 10px;
}

.Exclusive-cartbv {
  margin-top: 15px;
  flex: 0 0 260px;
  background: #fff;
}

.Exclusive-cart-imgev {
  height: 180px;
  margin-bottom: 15px;
  background: url(../image/SS8dakc.png) no-repeat center / cover;
}

.Exclusive-cart-buttonsev {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.Exclusive-cart-textev {
  color: #435766;
  margin-left: 15px;
  padding-top: 15px;
}

.Exclusive-cart-buttonev {
  padding: 1px 84px;
  margin-top: 213px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.Exclusive-cart-buttonev:hover {
  background: linear-gradient(180deg, #8dd83d 0%, #8dd83d 100%);
}

/*--------------------------------------------------------------------------------------------------------------------------*/

.Exclusive-cart-imgbv {
  height: 180px;
  margin-bottom: 15px;
  background: url(../image/SS7dakc.png) no-repeat center / cover;
}

.Exclusive-cart-buttonsbv {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.Exclusive-cart-titlebv {
  margin-left: 15px;
  color: #435766;
  font-size: 14px;
}

.Exclusive-cart-buttonbv {
  padding: 1px 84px;
  margin-top: 213px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.Exclusive-cart-buttonbv:hover {
  background: linear-gradient(180deg, #8dd83d 0%, #8dd83d 100%);
}

/*--------------------------------------------------------------------------------------------------------------------------*/

.Exclusive-cart-imgfv {
  height: 180px;
  margin-bottom: 15px;
  background: url(../image/SS6dakc.png) no-repeat center / cover;
}

.Exclusive-cart-buttonsfv {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.Exclusive-cart-titlefv {
  margin-left: 15px;
  color: #435766;
  font-size: 14px;
}

.Exclusive-cart-buttonfv {
  padding: 1px 83px;
  margin-top: 136px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.Exclusive-cart-buttonfv:hover {
  background: linear-gradient(180deg, #8dd83d 0%, #8dd83d 100%);
}

/*--------------------------------------------------------------------------------------------------------------------------*/

.Exclusive-cart-imgmv {
  height: 180px;
  margin-bottom: 15px;
  background: url(../image/SS5dakc.png) no-repeat center / cover;
}

.Exclusive-cart-buttonsmv {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.Exclusive-cart-titlemv {
  margin-left: 15px;
  color: #435766;
  font-size: 14px;
}

.Exclusive-cart-buttonmv {
  padding: 1px 83px;
  margin-top: 78.5px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.Exclusive-cart-buttonmv:hover {
  background: linear-gradient(180deg, #8dd83d 0%, #8dd83d 100%);
}

/*--------------------------------------------------------------------------------------------------------------------------*/

.Exclusive-link-buttonv {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.Exclusive-linkv {
  margin-top: 50px;
  margin-left: 700px;
  padding: 8px 34px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0;
}

.Exclusive-linkv:hover {
  background: linear-gradient(180deg, #8dd83d 0%, #8dd83d 100%);
}
